{{!-- Renders a homepage with different users posts show on it. --}}
{{!-- If we have time we could work in a system that shows most interacted posts at the top --}}
<div class="bgdrop">
    <div class="container tbox mb-3 ">
        <div class="row d-flex justify-content-center ">
            <div class="col-6">
                <h2 class="text-center text-light">Today's top game communities on Haze</h2>
            </div>
        </div>
    </div>
    {{#each games}}
    <div class="card mb-3 mr-2" id="topics" style="background-color:#1c1726;">
        <a class="text-decoration-none text-light" href="/games/{{id}}">
            <img src="{{banner}}" class="card-img-top" alt="{{game_title}}">
            <div class="card-body" id="topics">
                <h2>{{game_title}}</h2>
            </div>
        </a>
    </div>
    {{/each}}
</div>