{{!-- Login form --}}
<div class="mb-3 text-light">
  <h2>Login</h2>
  <form class="login-form">
    <div class="row mb-3">
      <label for="email-login">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email-login">
      </div>
    </div>
    <div class="row mb-3">
      <label for="password-login">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password-login">
      </div>
    </div>
    <div class="row mb-3">
    </div>
    <button type="submit" class="btn btn-outline-light">Login</button>
  </form>
</div>

{{!-- Sign up form --}}
<div class="mb-3 text-light">
  <h2>Sign up</h2>
  <form class="signup-form">
    <div class="row mb-3">
      <label for="name-signup">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name-signup">
      </div>
    </div>
    <div class="row mb-3">
      <label for="username-signup">Username:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username-signup">
      </div>
    </div>
    <div class="row mb-3">
      <label for="email-signup">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email-signup">
      </div>
    </div>
    <div class="row mb-3">
      <label for="password-signup">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password-signup">
      </div>
    </div>
    <div class="row mb-3">
    </div>
    <button type="submit" class="btn btn-outline-light">Signup</button>
  </form>
</div>

<script src="/js/login.js"></script>