:root {
    --bg-el: rgba(19, 3, 28, 0.8);
    --bkdrop: rgba(0, 0, 0, 0.411);
    --lists: rgba(15, 21, 32, 0.37);
    --text: whitesmoke;
    --outline: rgba(123, 93, 255, 0.664);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: radial-gradient(#8879a5, #54376f);
}

.card {
    border-radius: 0.375rem;
}


.userPost {
    max-width: 900px;
    margin-right: 20px;
}

#posts:hover {
    border-width: 2px;
    border-color: var(--outline);
}

#topics {
    border-radius: 0.375rem;
}

#aside {
    margin-top: 25px;
    background: var(--bg-el);
    position: fixed end;
    max-height: 550px;
}

#lists {
    background-color: var(--lists);
    color: var(--text);
}

.tbox {
    background: var(--bg-el);
    border-radius: 0.375rem;
    max-width: 98%;
}

.bgdrop {
    background-color: var(--bkdrop);
    padding: 20px;
    border-radius: 23px;

}

.dropdown-menu {
    background-color: var(--bg-el)
}

.dropdown-item {
    color: var(--text);
}

.image {
    width: 80px;
    height: 60px;
}

#info {
    margin-left: 60px;
    margin-right: 60px;
}

.postHover {
    text-decoration: none;
}

footer {
    margin-top: 20px;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

@media all and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
    }

    #aside {
        margin: auto;
        width: 100%;
        margin-top: 20px;
    }

    .card {
        margin:auto;
    }
}